<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>458CLM9RQ8</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.EspanolDictionary</key>
		<string>85af3126-5534-4596-87c6-8766e960aa26</string>
	</dict>
</dict>
</plist>
